.navbar {
  overflow: hidden;
  background-color: #5c469c;
  margin: auto;
  color: white;
}

.navbar a {
  float: left;
  text-align: center;
  text-decoration: none;
  font-size: 150%;
  padding: 10px 20px;
  color: white;
}

.navbar a:hover {
  color: #d4adfc;
  font-weight: bold;
}
