nav {
  color: white;
  background-color: #5c469c;
  padding: 0;
  margin: 0;
  list-stlye: none;
  display: flex;
  justify-content: space-between;
}

nav .menu {
  display: flex;
  list-style: none;
}

nav .menu li a {
  margin: 15px;
  padding: 15px;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

nav .menu li a:hover {
  color: #d4adfc;
  font-weight: bold;
}

nav .openMenu {
  display: none;
  cursor: pointer;
  margin: 25px;
  font-size: 2rem;
}

nav .menu .closeMenu {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

nav .logo {
  margin: 20px;
  margin-left: 1.5rem;
  font-size: 25px;
  cursor: pointer;
}

nav .logo .logoback {
  text-decoration: none;
  color: white;
}

@media (max-width: 700px) {
  nav .menu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #5c469c;
    display: none;

    .closeMenu {
      display: block;
    }
  }

  nav .openMenu {
    display: block;
  }

  nav .menu .closeMenu {
    dislpay: block;
    position: absolute;
    top: 25px;
    right: 25px;
  }

  nav .menu li a:hover {
    font-weight: bold;
    font-size: 1.6rem;
  }
}
