/* #1f1e20 #3d2c36 #68666a #889bb5 #cbc8d1 */

html {
  font-family: "Fira Code", monospace;
  background: linear-gradient(
    188deg,
    rgba(12, 19, 79, 1) 0%,
    rgba(25, 34, 115, 1) 54%,
    rgba(92, 70, 156, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  color: white;
}

.container {
  position: relative;
  padding: 10%;
  margin: 5%;
  border-radius: 25px;
  background: rgb(92, 70, 156, 0.7);
}

.link {
  color: #d4adfc;
  text-decoration: none;
}

.link:hover {
  font-weight: bold;
}

.center {
  text-align: center;
}
