* {
  font-family: "Fira Code", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: linear-gradient(
    188deg,
    rgba(12, 19, 79, 1) 0%,
    rgba(25, 34, 115, 1) 54%,
    rgba(92, 70, 156, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  color: white;
}

.container {
  position: relative;
  padding: 5%;
  margin: 2% 10%;
  border-radius: 25px;
  background: rgb(92, 70, 156, 0.7);
}

.link {
  color: #d4adfc;
  text-decoration: none;
}

.link:hover {
  font-weight: bold;
  color: white;
}

.center {
  text-align: center;
}

@media (max-width: 62.5rem) {
  .container {
    margin: 5% 20px;
  }
}
