.navbar {
  overflow: hidden;
  background-color: #5c469c;
  margin: auto;
}

.navbar a {
  float: left;
  text-align: center;
  paddiing: 10px 20px;
  text-decoration: none;
  font-size: 150%;
  padding: 10px 20px;
}

.navbar a:hover {
  font-weight: bold;
}
