---
// Component Imports
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
	<div class="center-text content">
        <div class="center container">
            <div>
                <h1>Oh no! Something went wrong. :(</h1>
                <br>
                <h3><a class="link" href="/ender-website/">Back Home</a></h3> 
            </div>
        </div>
	</div>
	
</MainLayout>

<style>
    .backhome {
        color: white;
        text-decoration: none;
        padding: 10px 20px;
    }

    .backhome:hover {
        color: #d4adfc;
    }
</style>