---
// Component Imports
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About">
    <div class="center container">
		<div>
			<h2>CV page is WIP</h2>
            <img src="crow.gif">
		</div>
	</div>
</MainLayout>