---
// Component Imports
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="CV">
  <div class="center container">
    <div>
      <div class="pdf-container">
        <embed
          src="/CV-JhundonMendi.pdf#toolbar=1"
          width="100%"
          height="800px"
          type="application/pdf"
        />
      </div>
      <br />
      <a class="link" href="/site">Back Home</a>
    </div>
  </div>
</MainLayout>
