---
// Component Imports
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="CV">
    <div class="center container">
		<div>
			<h2>CV page is WIP</h2>
			<br>
            <small><a class="link" href="/site/">Back Home</a></small>
		</div>
	</div>
</MainLayout>