---
// Component Imports
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/pages/index.css";
---
<MainLayout title="Home">
	<div class="container">
		<div class="about">
			<h2>Welcome to my site!</h2>
			<br>
			<p>My name is <strong>Jhundon De Leon Mendi</strong> (Online alias: '<strong><en>Ender</en></strong>'), studying at the <a class="link" href="https://www.birmingham.ac.uk/" target="_blank">Univeristy of Birmingham</a>, in my final year in <a class="link" href="https://www.birmingham.ac.uk/undergraduate/courses/computer-science/computer-science.aspx" target="_blank">BSc Computer Science</a>.</p>
			<br>
			<p>
				I am an inspiring Extended Reality (XR) Researcher hoping to look into using Virtual Reality to affect human cognition and therefore influence actions taken to complete a task.
			</p>
			<br>
			<p>
				For my Final Year Project (FYP), I look at evaluating the usage of the <strong>Pupil Core</strong> with HTC Vive Binocular Addon using the <a class="link" href="https://github.com/pupil-labs/hmd-eyes/tree/master">`hmd-eyes`</a> Unity Package developed by <a class="link" href="https://pupil-labs.com/">Pupil Labs</a> to determine its use in Virtual Reality via Time-To-Contact (TTC) Estimation and performance testing.
			</p>
			<br>
			<p>
				I've created this website as a second attempt to creating something where I can put stuff I've done throughout my academics as well as interests that pops up! This site is written using <a class="link" href="https://astro.new/">Astro</a> and using the skills learnt throughout my course.
			</p>
			<br>
			<p>I'm more than happy to hear ways to improve! :)</p>
		</div>

		<br>

		<div class="listeningnow">
			<h4>Song stuck in my head: <a class="link" href="https://open.spotify.com/track/0OUQhRKgGSb0PPrLUuEQka?si=f76e1266419c42f7" target="_blank">Church - Fall Out Boy</a></h4>
		</div>
	</div>
</MainLayout>