---
// Component Imports
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/pages/index.css";
---
<MainLayout title="Home">
	<div class="container">
		<div class="about">
			<h2>Welcome to my site!</h2>
			<br>
			<p>
				My name is <strong>Jhundon De Leon Mendi</strong> (Online alias: '<strong><en>Ender</en></strong>'), studying at the 
				<a class="link" href="https://www.birmingham.ac.uk/" target="_blank">Univeristy of Birmingham</a>. I am a First-Class Computer Science Graduate currently studying my Masters part-time in <a class="link" href="https://www.birmingham.ac.uk/postgraduate/courses/taught/psych/cognitive-neuroimaging-data-sci" target="_blank">Cognitive Neuroimaging and Data Science</a> or Computational Neuroscience for short! 
			</p>
			<br>

			<p>
				Within the University of Birmingham's <a class="link" href="https://virtualrealitylab.netlify.app/" target="_blank">Virtual Reality Lab</a>, I am a Research Assistant where I am assisting in the iOS interface for the <a href="https://arme-project.co.uk/" class="link" target="_blank">Augmented Reality Music Ensemble (ARME)</a> project and developing an mechanical-eye tool used to test quality of eye-trackers within Virtual Reality headsets.
			</p>
			<br>
			<p>
				For my Final Year Project (FYP), I look at evaluating the usage of the <strong>Pupil Core</strong> with HTC Vive Binocular Addon using the <a class="link" href="https://github.com/pupil-labs/hmd-eyes/tree/master">`hmd-eyes`</a> Unity Package developed by <a class="link" href="https://pupil-labs.com/">Pupil Labs</a> to determine its use in Virtual Reality via Time-To-Contact (TTC) Estimation and performance testing.
			</p>
			<br>
			<p>
				I've created this website as a second attempt to creating something where I can put stuff I've done throughout my academics as well as interests that pops up! This site is written using <a class="link" href="https://astro.new/">Astro</a> and using the skills learnt throughout my course.
			</p>
			<br>
			<p>I'm more than happy to hear ways to improve! :)</p>
		</div>

		<br>

		<div class="listeningnow">
			<h4>Song stuck in my head: <a class="link" href="https://open.spotify.com/track/5d1LmYNRMctPQFpkKQtEWy?si=0dd2f437f9964bfe" target="_blank">Madge x Valorant - 2WORLDS</a></h4>
		</div>
	</div>
</MainLayout>