---
// Component Imports
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
	<div class="center-text content">
		<br>
		<br>
		<br>

		<h2>Welcome to my site!</h2>
		<p>My name is <strong>Jhundon De Leon Mendi</strong> (Online alias: '<strong><en>Ender</en></strong>'), Currently an upcoming final year at <a class="link" href="https://www.birmingham.ac.uk/">Univeristy of Birmingham</a>, studying <a class="link" href="https://www.birmingham.ac.uk/undergraduate/courses/computer-science/computer-science.aspx" target="_blank">BSc Computer Science</a>.</p>
		<p>Studying Computer Science means that I'll be studying a wide variety of topics related to both theoretical and practical applications. So far, I find myself intrigued with Virtual Reality, Artificial Intelligence and using Blender and Unity!</p>
		
		<br>
		<br>
		<br>
	</div>
	
</MainLayout>