---
// Component Imports
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/pages/index.css";
---

<MainLayout title="Home">
	<div class="container">
		<div class="about">
			<h2>Welcome to my site!</h2>
			<p>My name is <strong>Jhundon De Leon Mendi</strong> (Online alias: '<strong><en>Ender</en></strong>'), Currently an upcoming final year at <a class="link" href="https://www.birmingham.ac.uk/" target="_blank">Univeristy of Birmingham</a>, studying <a class="link" href="https://www.birmingham.ac.uk/undergraduate/courses/computer-science/computer-science.aspx" target="_blank">BSc Computer Science</a>.</p>
			<p>I've created this website as a second attempt to creating something where I can put things I've done throughout my academics as well as interests that pops up! This site is written using <a class="link" href="https://astro.new/">Astro</a> and using the skills learnt throughout my course.</p>
		</div>



		<br>

		<div class="listeningnow">
			<h3>Song stuck in my head</h3>
			<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/nNmwuhLfSi4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
	</div>
</MainLayout>