---
// Component Imports
import MainLayout from "../layouts/MainLayout.astro";
import AppCards from "../components/AppCards.astro";
const allProjects = await Astro.glob("../pages/projects/*.md")
---

<MainLayout title="Projects">
    <div class="container">
		<h1>Projects</h1>
		<br>
		<ul class="app-card-list">
			{
				allProjects.map((project) => {
					return (
						<AppCards
							name={project.frontmatter.title}
							url={project.url}
							created={project.frontmatter.created}
							description={project.frontmatter.description}
						/>
					)
				})
			}
		</ul>
	</div>
</MainLayout>