---
// Component Imports
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About">
    <br>
    <br>
    <br>
    
    <div class="center-text"><h1>About page is WIP</h1></div>
    
    <br>
    <br>
    <br>
</MainLayout>