---
// Component Imports
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Projects">
    <div class="center container">
		<div>
			<h2>Projects page is WIP</h2>
			<br>
            <small><a class="link" href="/ender-website/">Back Home</a></small>
		</div>
	</div>
</MainLayout>