---
import "../styles/components/footer.css";
// Get the current date when this was edited
const currentDate = new Date();
const formattedDate = `${currentDate.getDate()}/${currentDate.getMonth() + 1}/${currentDate.getFullYear()}`;
---
<footer>
    <hr>
    <br>
    <p>Last updated on {formattedDate}</p>
    <br>
    <small>This site is made using <a href="https://astro.build/" target="_blank">Astro</a>!</small>
    <br>
    <small>Hosted by <a href="https://app.netlify.com/" target="_blank">Netlify</a></small>
    <br>
    <br>
</footer>