---
import "../styles/components/footer.css";
const date = "22/07/2023"
---
<footer>
    <hr>
    <br>
    <p>Last updated on {date}</p>
    <br>
    <small>This site is made using <a href="https://astro.build/" target="_blank">Astro</a>!</small>
    <br>
    <small>Hosted by <a href="https://pages.github.com/" target="_blank">GitHub Pages</a></small>
    <br>
</footer>