---
import { Icon } from "astro-icon";
import navData from "../data/navData";
import "../styles/navbar.css"
---
<nav aria-label="Primary">
    <div class="navbar">
        <a href="https://jmendi2021.github.io/ender-website" aria-label="Go Home">
            <Icon name="logo" width="55"/>
        </a>
        <ul>
            {
                navData.map((item) => (
                    <a href={item.path}>{item.name}</a>
                ))
            }
        </ul>
    </div>
</nav>