---
import { Icon } from "astro-icon";
import navData from "../data/navData";
import "../styles/components/navbar.css"
---

<nav aria-label="Primary">
    <div class="navbar">
        <a class="logo" href="/ender-website/" aria-label="Go Home">
            <Icon name="logo" width="55"/>
        </a>
        <ul>
            {
                navData.map((item) => (
                    <a class="navItem" href={item.path}>{item.name}</a>
                ))
            }
        </ul>
    </div>
</nav>