---
const { frontmatter } = Astro.props;
import MainLayout from "./MainLayout.astro";
---

<MainLayout title="Projects">
    <div class="container">
            <h1>{frontmatter.title}</h1>
			<slot />
			<br>
            <a class="link" href="/site/projects/">Back to Projects</a>
	</div>
</MainLayout>
